@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
}

section {
  background: rgb(222,222,222);
  background: linear-gradient(180deg, rgba(222,222,222,1) 0%, rgba(255,255,255,1) 100%);
  min-height: 100vh;
  padding: 190px 40px 100px;
  scroll-padding-top: 90px;
}

.david-container {
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
